body {
    position: relative;
}

.buttons {
    margin-bottom: 5px;
}

thead {
    position: sticky;
    top: 0;
    font-weight: bold;
    z-index: 2;
    background-color: darkgrey;
}

.links {
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Apply alternating background colors for service line rows */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Style select elements within table cells */
td select {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

#unassignedPeopleMonday,
#unassignedPeopleTuesday,
#unassignedPeopleWednesday,
#unassignedPeopleThursday,
#unassignedPeopleFriday {
    /* max-width: 200px; */
    margin-bottom: 20px;
}

.different-availability-cell {
    background-color: yellow;
    /* Background color for different availability */
}

.pto-cell {
    background-color: yellow;
    /* Background color for PTO */
}

.extra-select {
    background-color: lightgrey;
}